/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.preGIF{
  width: 45px;
  height: 45px;
}

button:focus{
  outline: 0;
}
button{
  color: white;
}
body{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
}
h1{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}
.int{
  width: 600px;
  text-align: center;
  font-size: 45px;
}
.flexCenter{
  display: flex;
  justify-content: center;
}
.flewCol{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.begin{
  width: 400px;
  height: 150px;
  font-size: 50px;
  margin-left: 100px;
  background-color: #EA3546;
}
.choose{
  text-align: center;
  font-size: 25px;
}
.choose:hover{
  color: #EA3546;
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.home{
  font-family: 'Play', sans-serif;
  font-size: 40px;
  width: 250px;
  height: 80px;
      background-color: #FF4D80;
  border-color: transparent;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: black;
}
button:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #EA3546;
}
