/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.preGIF{
  width: 45px;
  height: 45px;
}

button:focus{
  outline: 0;
}

body{
      font-family: 'Noto Sans', sans-serif;
}
h1{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}

.box{
  position: absolute;
  bottom: 5%;
  left: 38%;
  width: 300px;
  height: 200px;
}

.let{
  width: 60px;
  height: 100px;
}

#ball {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
#bee{
  cursor: pointer;
  width: 60px;
  height: 60px;
  visibility: hidden;
}
#dog{
  cursor: pointer;
  width: 120px;
  height: 60px;
  visibility: hidden;
}
#dolphin{
  cursor: pointer;
  width: 90px;
  height: 60px;
  visibility: hidden;
}
#bed{
  cursor: pointer;
  width: 90px;
  height: 60px;
  visibility: hidden;
}
#b{
    cursor: pointer;
  width: 200px;
  height: 250px;
}
.bTotal{
  position: absolute;
  left: 20%;
}
#d{
  cursor: pointer;
width: 180px;
height: 260px;
}
.dTotal{
  position: absolute;
  right: 20%;
}
.bCollect, .dCollect{
  width: 180px;
}
.objects{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrowL, .arrowR{
  padding-top: 20px;
  width: 130px;
  height: 80px;
}
.menu{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.directions{
  text-align: center;
  /* margin-bottom: 100px; */
  padding: 0;
}
.words{
  font-size: 30px;
  text-align: center;
  margin: 0;
        font-family: 'Noto Sans', sans-serif;
}
.blue{
  font-size: 40px;
  margin: 0;
  color: blue;
  text-align: center;
        font-family: 'Noto Sans', sans-serif;
}
.mouth{
  width: 500px;
  height: 400px;
  position: absolute;
  right: 5%;
}
.orange, .apple{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.ugli{
  width: 130px;
  height: 100px;
    margin-left: 20px;
}
