/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.preGIF{
  width: 45px;
  height: 45px;
}

.menuLeft{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 10px;
}

.menuMiddle{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1%;
  left: 55%;
}

.menuRight{
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 6%;
    right: 5%;
}
.logo{
  width: 100px;
  height: 145px;
}
.name{
  font-size: 20px;
  margin-left: 0px;
  margin-top: 29px;
  margin-left: -15px;
  font-family: 'Open Sans', sans-serif;
}
.name:hover{
  color: #43BCCD;
  text-decoration: none;
}
.flexRow{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
.textMenu{
    font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      margin-right: 50px;
        margin-top: 45px;
}
.textMenuT{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}
.info{
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  margin-left: 100px;
  margin-top: -30px;
  margin-bottom: 0px;
  /* margin-bottom: 50px; */
}
.infoPara{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  width: 500px;
  margin-left: 150px;
  margin-top: 0px;
}
a:link{
  color: black;
  text-decoration: none;
}
.textMenu:hover, .textMenuT:hover{
  color: #43BCCD;
}
a:visited{
  color: black;
  text-decoration: none;
}
.teamPic{
  width: 400px;
  height: 300px;
  margin-top: 80px;
  margin-left: 100px;
}
#one{
  width: 100%;
  height: 100vh;
}
#two{
  width: 100%;
  height: 100vh;
}
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 0px;
  text-align: center;
  /* margin-bottom: 50px; */
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.abc{
  margin-top: 200px;
  margin-bottom: 100px;
  width: 600px;
  height: 300px;
  background-color: #FF4D80;
}
.read{
    margin-bottom: 100px;
  width: 600px;
  height: 300px;
  background-color: #2AB3A6;
}
.spell{
  margin-bottom: 100px;
width: 600px;
height: 300px;
background-color: #EA3546;
}
button:focus{
  outline:0;
}
button{
  cursor: pointer;
}
h2{
  font-size: 70px;
  color: white;
}
h3{
  font-size: 100px;
  color: white;
  text-align: center;
}
.flexCenter{
  display: flex;
  justify-content: center;
}
